<html>
  <head>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/create.css" rel="stylesheet">
    
    <script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../static/js/create.js"></script>
    <script type="text/javascript">
      window.images = {{ images | safe}}
      window.song  = {{ song | safe}}
    </script>
    
  </head>
  <body>
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/"></a></li>
        </ul>
        <h3 class="muted">To The Beat</h3>
      </div>
      <hr>
      <div class="jumbotron">
        <h2>
          Tap the spacebar to the beat!
        </h2>
        <h3 id="number"> </h3>
        <div id="container">
          <img src="#" style="max-height:425px; max-width:600px;" id="slide"></img>
        </div>
        <p>
          <a id="start" class="btn btn-large btn-success" onclick="start()">
            Start!
          </a> 
          <a id="retry" class="btn btn-large" onClick="location.reload()">
            Retry
          </a>
        </p>
  </body>
</html>
