<!DOCTYPE html>
<html>
  <head>
    <title>To The Beat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="../static/lib/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/lib/css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>
  <body>
    
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/"></a></li>
        </ul>
        <h3 class="muted">To The Beat</h3>
      </div>
      
      <hr>

      <div class="jumbotron">
        <h1>Make Your Pictures Move To The Beat</h1>
        <p class="lead"> By just tapping the spacebar to the beat,
          you can create a stunning video montage where your pictures do the dancing.</p>

        <div class="row-fluid">
          <div class="span4">
            <h2>1) Upload Pics</h2>
            <p> Upload as many pictures as you'd like. Make sure you have enough
              to last a whole song. </p>
            <p> <a id="pics" class="btn btn-large" onclick="uploadPics()"> Upload Pictures</a></p>
          </div>
          <div class="span4">
            <h2>2) Play a Jam</h2>
            <p> Drop a beat worthy of those pictures. A montage is only as
              cool as it's song. Choose wisely.</p>
            <p><a id="jam" class="btn btn-large" onclick="uploadSong()"> Upload An Song</a> </p>
          </div>
          <div class="span4">
            <h2>3) To The Beat</h2>
            <p> Tap the spacebar to the beat of your song to make your pictures get
              down and dirty.</p>
            <p><a id="dance" class="btn btn-large btn-success"  onclick="createVideo()"> Let's Dance! &raquo;</a></p>
          </div>
        </div>
      </div>

      <div class="footer">
        <p>Created by <a href="http://github.com/stevekrouse">Steve Krouse</a> 2013</p>
      </div>

    </div>

    <script type="text/javascript" src="../static/js/index.html"></script>
    <script type="text/javascript" src="../static/lib/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>

  </body>
</html>
